<%= form_tag("/login", method: "post", class: "login") do %>
	<h2>Enter your pin</h2>
	<%= password_field_tag :pin, nil, maxlength: 4, pattern: "[0-9]*", inputmode: "numeric", class: "form-control" %>
<% end %>