<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Purchases<small> - Dolla Dolla</small></h1>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-md-8">
		<div class="row">
			
			<div class="col-md-12">
				
				<h3>Monthly Totals:</h3>
				<p>Coming shortly</p>


			</div>

		</div>
	</div>
	
</div>