<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Purchases<small> - Dolla Dolla</small></h1>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-md-8">
		<div class="row">
			
			<div class="col-md-12">
				
				<h3>Monthly Totals:</h3>
				<ul class="list-group">
						
					<li class="list-group-item">
						<h4 class="list-group-item-heading">You are owed : £2.20</h4>
						<p class="list-group-item-text">Rhi owes you £4</p>
						<p class="list-group-item-text">Rob owes you £4</p>
						<p class="list-group-item-text">Ryan owes you £4</p>
					</li>
					<li class="list-group-item">
						<h4 class="list-group-item-heading">Ryan is owed £34.00</h4>
						<p class="list-group-item-text"><strong>You</strong> owe Ryan £4</p>
						<p class="list-group-item-text">Rhi owes Ryan £4</p>
						<p class="list-group-item-text">Rob owes Ryan £4</p>
					</li>
					<li class="list-group-item">
						<h4 class="list-group-item-heading">Rob : £4.23</h4>
						<p class="list-group-item-text"><strong>You</strong> owe Ryan £4</p>
						<p class="list-group-item-text">Rhi owes Ryan £4</p>
						<p class="list-group-item-text">Rob owes Ryan £4</p>
					</li>
					<li class="list-group-item">
						<h4 class="list-group-item-heading">Rhiannon : £0.00</h4>
						<p class="list-group-item-text"><strong>You</strong> owe Ryan £4</p>
						<p class="list-group-item-text">Rhi owes Ryan £4</p>
						<p class="list-group-item-text">Rob owes Ryan £4</p>
					</li>
					
				
				</ul>


			</div>

		</div>
	</div>
	
</div>